<div class="jury-container">
  <h1>Soutenance</h1>
  <div class="list-juries">
    <table
      mat-table
      [dataSource]="this.vivasDataSource"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="juries">
        <th mat-header-cell *matHeaderCellDef>Jury</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngFor="let jury of element.juries">
            {{ jury.name }} {{ jury.firstName }}<br />
          </ng-container>
        </td>
      </ng-container>
      <ng-container matColumnDef="apprentice">
        <th mat-header-cell *matHeaderCellDef>Apprenti</th>
        <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.apprentice">
                {{ element.apprentice.name }} {{ element.apprentice.firstName }}
            </ng-container>
        </td>
      </ng-container>
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef>Date debut</th>
        <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.startDate">
              {{ element.startDate | date: 'dd/MM/yyyy HH:mm' }}
            </ng-container>
        </td>
      </ng-container>
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef>Date fin</th>
        <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.endDate">
                {{ element.endDate | date: 'dd/MM/yyyy HH:mm'}}
            </ng-container>
        </td>
      </ng-container>
      <ng-container matColumnDef="place">
        <th mat-header-cell *matHeaderCellDef>Lieu</th>
        <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.place">
                {{ element.place }}
            </ng-container>
        </td>
      </ng-container>
      <ng-container matColumnDef="semestre">
        <th mat-header-cell *matHeaderCellDef>Semestre</th>
        <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.semestre">
                {{ element.semestre }}
            </ng-container>
        </td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Titre</th>
        <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.title">
                {{ element.title }}
            </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit</th>
        <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button (click)="editViva(element)">
                <mat-icon>edit</mat-icon>
              </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [length]="totalElements"
      [pageSize]="pageSize"
      [pageIndex]="currentPage"
      (page)="onPageChange($event)"
    ></mat-paginator>
  </div>
</div>
