<div class="change-password-container">
    <h2>Changer de mot de passe</h2>

    <p>Entrez votre mot de passe actuel et renseignez votre nouveau.</p>
    
    <form [formGroup]="formulaireChangePWD" (ngSubmit)="ChangePassword()">
      <div class="form-group">
        <label for="password">Mot de passe actuel</label>
        <input type="password" id="password" formControlName="password" placeholder="Mot de passe actuel" required>
        <label for="newPassword">Nouveau mot de passe</label>
        <input type="password" id="newPassword" formControlName="newPassword" placeholder="Nouveau mot de passe" required>
        <label for="confirmNewPassword">Confirmation nouveau mot de passe</label>
        <input type="password" id="confirmNewPassword" formControlName="confirmNewPassword" placeholder="Nouveau mot de passe" required>
      </div>
      
      <button class="modern-login-button" type="submit">Réinitialiser le mot de passe</button>
    </form>
  </div>
  