.container {
  display: flex;
  justify-content: space-between;
}

.mat-mdc-card {
  position: relative;
  width: 450px;
}

.center {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
