button {
    background-color: #ff4f4f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    width: 100px;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #e63a3a;
  }
  
  .changepwd{
    background-color: gray;
    width:fit-content;
  }
